/* news */
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: left;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}